<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gl52.euv.mapper.GroupMapper">
  <resultMap id="BaseResultMap" type="com.gl52.euv.pojo.Group">
    <id column="groupId" jdbcType="INTEGER" property="groupid" />
    <result column="groupName" jdbcType="VARCHAR" property="groupname" />
    <result column="projectManager" jdbcType="INTEGER" property="projectmanager" />
    <result column="subjectId" jdbcType="INTEGER" property="subjectid" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="fileName" jdbcType="VARCHAR" property="filename" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.gl52.euv.pojo.Group">
    <result column="file" jdbcType="LONGVARBINARY" property="file" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    groupId, groupName, projectManager, subjectId, is_valid, fileName
  </sql>
  <sql id="Blob_Column_List">
    file
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.gl52.euv.pojo.GroupExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.gl52.euv.pojo.GroupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_group
    where groupId = #{groupid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_group
    where groupId = #{groupid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gl52.euv.pojo.GroupExample">
    delete from t_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gl52.euv.pojo.Group">
    insert into t_group (groupId, groupName, projectManager,
      subjectId, is_valid, fileName,
      file)
    values (#{groupid,jdbcType=INTEGER}, #{groupname,jdbcType=VARCHAR}, #{projectmanager,jdbcType=INTEGER},
      #{subjectid,jdbcType=INTEGER}, #{isValid,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR},
      #{file,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.gl52.euv.pojo.Group" useGeneratedKeys="true" keyProperty="groupid">
    insert into t_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupid != null">
        groupId,
      </if>
      <if test="groupname != null">
        groupName,
      </if>
      <if test="projectmanager != null">
        projectManager,
      </if>
      <if test="subjectid != null">
        subjectId,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="filename != null">
        fileName,
      </if>
      <if test="file != null">
        file,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="groupname != null">
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="projectmanager != null">
        #{projectmanager,jdbcType=INTEGER},
      </if>
      <if test="subjectid != null">
        #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="file != null">
        #{file,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gl52.euv.pojo.GroupExample" resultType="java.lang.Long">
    select count(*) from t_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_group
    <set>
      <if test="record.groupid != null">
        groupId = #{record.groupid,jdbcType=INTEGER},
      </if>
      <if test="record.groupname != null">
        groupName = #{record.groupname,jdbcType=VARCHAR},
      </if>
      <if test="record.projectmanager != null">
        projectManager = #{record.projectmanager,jdbcType=INTEGER},
      </if>
      <if test="record.subjectid != null">
        subjectId = #{record.subjectid,jdbcType=INTEGER},
      </if>
      <if test="record.isValid != null">
        is_valid = #{record.isValid,jdbcType=INTEGER},
      </if>
      <if test="record.filename != null">
        fileName = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.file != null">
        file = #{record.file,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_group
    set groupId = #{record.groupid,jdbcType=INTEGER},
      groupName = #{record.groupname,jdbcType=VARCHAR},
      projectManager = #{record.projectmanager,jdbcType=INTEGER},
      subjectId = #{record.subjectid,jdbcType=INTEGER},
      is_valid = #{record.isValid,jdbcType=INTEGER},
      fileName = #{record.filename,jdbcType=VARCHAR},
      file = #{record.file,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_group
    set groupId = #{record.groupid,jdbcType=INTEGER},
      groupName = #{record.groupname,jdbcType=VARCHAR},
      projectManager = #{record.projectmanager,jdbcType=INTEGER},
      subjectId = #{record.subjectid,jdbcType=INTEGER},
      is_valid = #{record.isValid,jdbcType=INTEGER},
      fileName = #{record.filename,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gl52.euv.pojo.Group">
    update t_group
    <set>
      <if test="groupname != null">
        groupName = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="projectmanager != null">
        projectManager = #{projectmanager,jdbcType=INTEGER},
      </if>
      <if test="subjectid != null">
        subjectId = #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        fileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="file != null">
        file = #{file,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where groupId = #{groupid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gl52.euv.pojo.Group">
    update t_group
    set groupName = #{groupname,jdbcType=VARCHAR},
      projectManager = #{projectmanager,jdbcType=INTEGER},
      subjectId = #{subjectid,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER},
      fileName = #{filename,jdbcType=VARCHAR},
      file = #{file,jdbcType=LONGVARBINARY}
    where groupId = #{groupid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gl52.euv.pojo.Group">
    update t_group
    set groupName = #{groupname,jdbcType=VARCHAR},
      projectManager = #{projectmanager,jdbcType=INTEGER},
      subjectId = #{subjectid,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER},
      fileName = #{filename,jdbcType=VARCHAR}
    where groupId = #{groupid,jdbcType=INTEGER}
  </update>
  <select id="selectByPageIndex" resultType="java.util.Map">
           select  t.groupId,t.groupName,s.subjectName,t.is_valid,s.number_max,s.number_min,count(u.id) as total
    from t_group t inner join t_subject s
        on t.subjectId=s.subjectId
				LEFT JOIN t_user u
					on u.groupId=t.groupId
				GROUP BY
	t.groupId,t.groupName,s.subjectName,t.is_valid,s.number_max,s.number_min
    limit #{offset}, #{limit}
  </select>
</mapper>