<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gl52.euv.mapper.SubjectMapper">
  <resultMap id="BaseResultMap" type="com.gl52.euv.pojo.Subject">
    <id column="subjectId" jdbcType="INTEGER" property="subjectid" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="subjectName" jdbcType="VARCHAR" property="subjectname" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="number_min" jdbcType="INTEGER" property="numberMin" />
    <result column="number_max" jdbcType="INTEGER" property="numberMax" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    subjectId, description, subjectName, create_time, number_min, number_max
  </sql>
  <select id="selectByExample" parameterType="com.gl52.euv.pojo.SubjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_subject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_subject
    where subjectId = #{subjectid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_subject
    where subjectId = #{subjectid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gl52.euv.pojo.SubjectExample">
    delete from t_subject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gl52.euv.pojo.Subject">
    insert into t_subject (subjectId, description, subjectName, 
      create_time, number_min, number_max
      )
    values (#{subjectid,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{subjectname,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{numberMin,jdbcType=INTEGER}, #{numberMax,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gl52.euv.pojo.Subject">
    insert into t_subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subjectid != null">
        subjectId,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="subjectname != null">
        subjectName,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="numberMin != null">
        number_min,
      </if>
      <if test="numberMax != null">
        number_max,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subjectid != null">
        #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="subjectname != null">
        #{subjectname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="numberMin != null">
        #{numberMin,jdbcType=INTEGER},
      </if>
      <if test="numberMax != null">
        #{numberMax,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gl52.euv.pojo.SubjectExample" resultType="java.lang.Long">
    select count(*) from t_subject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_subject
    <set>
      <if test="record.subjectid != null">
        subjectId = #{record.subjectid,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectname != null">
        subjectName = #{record.subjectname,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.numberMin != null">
        number_min = #{record.numberMin,jdbcType=INTEGER},
      </if>
      <if test="record.numberMax != null">
        number_max = #{record.numberMax,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_subject
    set subjectId = #{record.subjectid,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      subjectName = #{record.subjectname,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=DATE},
      number_min = #{record.numberMin,jdbcType=INTEGER},
      number_max = #{record.numberMax,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gl52.euv.pojo.Subject">
    update t_subject
    <set>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="subjectname != null">
        subjectName = #{subjectname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="numberMin != null">
        number_min = #{numberMin,jdbcType=INTEGER},
      </if>
      <if test="numberMax != null">
        number_max = #{numberMax,jdbcType=INTEGER},
      </if>
    </set>
    where subjectId = #{subjectid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gl52.euv.pojo.Subject">
    update t_subject
    set description = #{description,jdbcType=VARCHAR},
      subjectName = #{subjectname,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      number_min = #{numberMin,jdbcType=INTEGER},
      number_max = #{numberMax,jdbcType=INTEGER}
    where subjectId = #{subjectid,jdbcType=INTEGER}
  </update>
  <select id="selectByPageIndex" resultMap="BaseResultMap">
     select distinct *
    from t_subject t
    limit #{offset}, #{limit}
  </select>
</mapper>